# Mission Dotlas - Preprocessing Assignment üåé (30 points)

### 1.1 About

Welcome to your mission! In this notebook, you will download a dataset containing restaurants' information in the state of California, US. The dataset will then be cleaned, processed and prepared in a required format. This clean dataset will then be used to answer some analytical questions and create a few data visualizations in Python.

This is a template notebook that has some code already filled-in to help you on your way. There are also cells that require you to fill in the python code to solve specific problems. There are sections of the notebook that contain a points tally for code written.

May the force be with you!

### 1.2 Tools & Technologies

* This exercise will be carried out using the [Python](https://www.python.org/) programming language and will rely hevily on the [Pandas](https://pandas.pydata.org/) library for data manipulation. 
* You may use any of [Matplotlib](https://matplotlib.org/) or [Plotly](https://plotly.com/python/) packages for data visualization. 
* We will be using [Jupyter notebooks](https://jupyter.org/) to run Python code in order to view and interact better with our data and visualizations. 
* You are free to use [Google Colab](https://colab.research.google.com/) which provides an easy-to-use Jupyter interface. 
* When not in Colab, it is recommended to run this Jupyter Notebook within an [Anaconda](https://continuum.io/) environment

> ‚ö† **Ensure that your python version is 3.9 or higher** 

![](https://upload.wikimedia.org/wikipedia/commons/1/1b/Blue_Python_3.9_Shield_Badge.svg)

**Languages and Formats**

![Markdown](https://img.shields.io/badge/markdown-%23000000.svg?style=for-the-badge&logo=markdown&logoColor=white)
![Python](https://img.shields.io/badge/python-3670A0?style=for-the-badge&logo=python&logoColor=ffdd54)

**Environments & Packages**

![Anaconda](https://img.shields.io/badge/Anaconda-%2344A833.svg?style=for-the-badge&logo=anaconda&logoColor=white)
![Jupyter Notebook](https://img.shields.io/badge/jupyter-%23FA0F00.svg?style=for-the-badge&logo=jupyter&logoColor=white)
![Pandas](https://img.shields.io/badge/pandas-%23150458.svg?style=for-the-badge&logo=pandas&logoColor=white)
![Matplotlib](https://img.shields.io/badge/Matplotlib-%23ffffff.svg?style=for-the-badge&logo=Matplotlib&logoColor=black)
![Plotly](https://img.shields.io/badge/Plotly-%233F4F75.svg?style=for-the-badge&logo=plotly&logoColor=white)

**Data Store**

![AWS](https://img.shields.io/badge/AWS-%23FF9900.svg?style=for-the-badge&logo=amazon-aws&logoColor=white)

In this section, we will load the dataset from AWS, conduct an exploratory data analysis and then clean up the dataset

### 2.1 Read California Restaurants (3 points)

* Ensure that pandas and plotly are installed (possibly via pip or poetry)
* The dataset is about 300 MB in size and time-to-download depends on internet speed and availability
* Download the dataset using Python into this notebook and load it into a pandas dataframe (without writing to file)

In [1]:
from matplotlib import pyplot as plt
%matplotlib inline

import pandas as pd
import plotly.express as px
import numpy as np

CELL_HEIGHT: int = 50

# Initialize helpers to ignore pandas warnings and resize columns and cells
pd.set_option("chained_assignment", None)
pd.set_option("display.max_rows", 50)
pd.set_option("display.max_columns", 500)
pd.set_option('display.max_colwidth', CELL_HEIGHT)

DATA_URL: str = "https://dotlas-marketing.s3.amazonaws.com/interviews/california_restaurants.json"

In [ ]:
%%time
# ‚úèÔ∏è YOUR CODE HERE

Create a restaurant ID column to uniquely index each restaurant

In [3]:
df['restaurant_id'] = range(1, len(df) + 1)
df.head(2)

### 2.2 Basic Operations (4 points)

#### 2.2.1 Restaurants by City (1 point)

For each city in california, find 
1. the number of restaurants in that city, 
2. mean rating of all restaurants in the city, 
3. mean `price_range_id` per city, 
4. mean `maximum_days_advance_for_reservation` per city

sort by number of restaurants.

The resulting dataframe's top 5 rows would look as follows:

| city          |   restaurant_count |   avg_rating |   avg_price_range_id |   avg_reservation_advance |
|:--------------|-------------------:|-------------:|---------------------:|-----------------------:|
| San Francisco |               1645 |      2.59343 |              2.3617  |                90.3453 |
| Los Angeles   |               1604 |      2.31995 |              2.29052 |                86.692  |
| San Diego     |               1034 |      2.65493 |              2.28723 |                94.5783 |
| San Jose      |                372 |      1.54597 |              2.16398 |                88.3011 |
| Sacramento    |                329 |      1.68663 |              2.26748 |                95.0274 |

In [ ]:
# ‚úèÔ∏è YOUR CODE HERE

#### 2.2.2 Restaurants by Brand (1 point)

For each brand (`brand_name`) in california, find 
1. the number of restaurants that belong to that brand, 
3. mean `price_range_id` of the brand across its restaurants

sort by number of restaurants.

The resulting dataframe's top 5 rows would look as follows:

| brand_name               |   restaurant_count |   avg_price_range_id |
|:-------------------------|-------------------:|---------------------:|
| Denny's                  |                 73 |                    2 |
| Ihop                     |                 37 |                    2 |
| Buffalo Wild Wings       |                 32 |                    2 |
| Black Bear Diner         |                 28 |                    2 |
| Coco's Bakery Restaurant |                 24 |                     2 |

In [79]:
# ‚úèÔ∏è YOUR CODE HERE

#### 2.2.3 Visualize Brands (2 points)
Create a bar chart of top 5 brands in california by average number of reviews where each brand has at least 5 restaurants

In [80]:
# ‚úèÔ∏è YOUR CODE HERE

### 2.3 Menu-Level Table (8 points)

Create a menu-level table by parsing out menu items from the `menu` column per restaurant. The resulting dataframe would look as follows:

| restaurant_id | menu_name   | menu_description   |   menu_provider | section_name   | section_description   | item_name          | item_description                                                                                                      |   item_price | item_price_currency   |
|----------------:|:------------|:-------------------|----------------:|:---------------|:----------------------|:-------------------|:----------------------------------------------------------------------------------------------------------------------|-------------:|:----------------------|
|               1 | Main Menu   |                    |             nan | Appetizers     |                       | Egg Rolls          | Deep fried mixed veggie egg rolls served with sweet & sour sauce                                                      |          8   | USD                   |
|               1 | Main Menu   |                    |             nan | Appetizers     |                       | Fried Tofu         | (Contains Peanut) Deep fried tofu, served with sweet & sour sauce and crushed peanut                                  |          8   | USD                   |
|               1 | Main Menu   |                    |             nan | Appetizers     |                       | Fried Meat Balls   | Deep fried fish, pork, beef balls or mixed served with sweet & sour sauce. Meat: Beef $1, Fish, Mixed Meat ball, Pork |          8.5 | USD                   |
|               1 | Main Menu   |                    |             nan | Appetizers     |                       | Pork Jerky         | Deep fried marinated pork served with special jaew sauce                                                              |          8.5 | USD                   |
|               1 | Main Menu   |                    |             nan | Appetizers     |                       | Thai Isaan Sausage | (Contains Peanut) Thai Style sausage served with fresh vegetables and peanuts                                         |          9   | USD                   |

In [ ]:
# ‚úèÔ∏è YOUR CODE HERE

Remember to hydrate and

![Spotify](https://img.shields.io/badge/Spotify-1ED760?style=for-the-badge&logo=spotify&logoColor=white)

### 2.4 Transform Columns (15 Points)

#### 2.4.1 Safety Precautions (2 points)

Transform the entire safety precautions column into a new column based on the following rule:

Convert from dictionary to list. Only include in the list, those keys in the dictionary which are true.
For ex, for safety precautions of the type:
```python
{
    'cleanMenus': True,
    'limitedSeating': False,
    'sealedUtensils': None,
    'prohibitSickStaff': True,
    'requireDinerMasks': True,
    'staffIsVaccinated': None,
    'proofOfVaccinationRequired': False,
    'sanitizerProvidedForCustomers': None
}
```
It should turn into a list of the form:
```python
["Clean Menus", "Prohibit Sick Staff", "Require Diner Masks"]
```

In [59]:
# ‚úèÔ∏è YOUR CODE HERE

#### 2.4.2 Clean up HTML text (2 points)
Find columns containing text / strings that have html text and remove those HTML texts

ex:

```html
<p>Feast on delicious grub at Jerry's Famous Deli.<br> Its retro-style casual setting features comfortable booth seating.</p>
```
to:

```
Feast on delicious grub at Jerry's Famous Deli. Its retro-style casual setting features comfortable booth seating.
```

In [ ]:
# ‚úèÔ∏è YOUR CODE HERE

#### 2.4.3 Operating Hours (8 points)
Create an operating hours [bitmap](https://en.wikipedia.org/wiki/Bit_array) from the operating hours text.
The bitmap would be a matrix of size 24 x 7 where a 1 or 0 on each cell indicates whether the restaurant operates on a specific day during a specific hour

Example: For operating hours text of the form:
```tex
Lunch
Daily 11:00 am‚Äì3:30 pm
Dinner
Daily 4:30 pm‚Äì11:30 pm
```
Create a bitmap of the following form:
```json
{
    "Monday" : [0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,0,1,1,1,1,1,1,1],
    "Tuesday" : [0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,0,1,1,1,1,1,1,1],
    .
    .
    .
    "Sunday" : [0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,0,1,1,1,1,1,1,1],
    
}
```

In [ ]:
# ‚úèÔ∏è YOUR CODE HERE

#### 2.4.4 Imputing (3 points)
Fill up missing values for rating, rating count and review count by imputing based on the following columns in order:
1. `brand_name`
2. `area`
3. `city`

This means that if `rating` is missing for a restaurant (null / 0), but that restaurant is part of a brand where 
other restaurants of the same brand have ratings, then a median rating is taken. If brands are complete, then missing values are filled using
area where the restaurant is located (median rating) and finally filled using the city's rating

In [ ]:
# ‚úèÔ∏è YOUR CODE HERE